.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* border-bottom: 1px solid black; */
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05),
        0 1px 4px hsla(0, 0%, 0%, 0.05),
        0 2px 8px hsla(0, 0%, 0%, 0.05);
    background-color: hsl(210, 8%, 97.5%);
    border-top: 3px solid hsl(27, 90%, 55%);
    color: hsl(210, 8%, 15%);
    text-align: center;
    padding: 0 85px;
}

.nav-bar-left > a {
    color: hsl(210, 8%, 15%);
    text-decoration: none;
}

.nav-bar-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 49px;
}

.nav-logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 49px;
    padding-right: 10px;
}

.nav-logo-img {
    height: 38px;
    align-self: center;
}

.nav-links {
    margin-right: 15px;
    margin-top: -2px;
}

.nav-links > a {
    /* color: black; */
    text-decoration: none;
}

.infinite {
    font-weight: lighter;
}

.loop {
    font-weight: bold;
}

.nav-links-logged-in {
    display: flex;
}

/* .auth-link {
    padding-left: 10px;
} */

.auth-link-login, .nav-logout {
    color: #39739D;
    background-color: #E1ECF4;
    padding: 8px 10px;
    width: 60px;
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid #39739D;
    text-align: center;
    margin-right: 5px;
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
}

.nav-logout, .ask-question {
    height: 34px;
    align-self: center;
}

.auth-link-login:hover, .nav-logout:hover, {
    background-color: hsl(205, 57%, 81%);
}



.auth-link-signup, .ask-question {
    color: #FFFFFF;
    background-color: #0A95FF;
    padding: 8px 10px;
    width: 60px;
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid #39739D;
    text-align: center;
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
}

.ask-question {
    width: 82px;
    text-decoration: none;
    height: 13px;
    text-align: center;
    padding: 11px 10px;
    border: 1px solid transparent;
    box-sizing: inherit;
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
}

.auth-link-signup:hover, .ask-question:hover {
    background-color: hsl(206, 100%, 40%);
}

.profile-main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 15px; */
    width: 50px;
    height: 49px;
}

.profile-main > i {
    /* height: 30px;
    width: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
}

.profile-main > button {
    height: 25px;
    width: 25px;
    background-color: #FFFFFF;
    border: transparent;
    border-radius: 3px;
    cursor: pointer;
}

.profile-main:hover, .nav-logo:hover, .nav-menu:hover {
    background-color: hsl(210, 8%, 85%);
}

.profile-dropdown {
    position: absolute;
    top: 45px;
    right: 15px;
    border: 1px solid hsl(210, 8%, 75%);
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    font-size: 13px;
}

.menu-dropdown {
    position: absolute;
    top: 45px;
    left: 15px;
    border: 1px solid hsl(210, 8%, 75%);
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    font-size: 13px;
}

