.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid black;
}

.auth-link {
    padding-left: 10px;
}

.profile-dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
    padding: 10px;
}